---
layout: default
image: /assets/images/twitter.png
---
<!-- The main content area -->

<div class="posts">
  <center>
    <img src="/assets/images/opsec-swag.png" width="50%"/>
  </center>
  <div class="grid-xlarge">
    <div class="posts__container" itemscope itemtype="http://schema.org/Blog" data-columns>
      {% for item in site.items %}
        {% include item-card.html %}
      {% endfor %}
    </div>
  </div>
  <center>
    <small>Prices may not be accurate. If something is off, please
      <a href="https://github.com/opsecswag/opsecswag.github.io">create a PR</a>
      to fix it.
    </small>
  </center>
</div>
